params {
    input_csv    = "data/samples.csv"
    hisat2_index = "data/index/GRCh38_109_index"
    gtf          = "data/genome/annotation.gtf"
    report_id    = "rnaseq_report"
    outdir       = "results"
}

process {
    executor = 'slurm'
    queue    = 'eck-q'
    cpus     = 8
    memory   = '32 GB'
    time     = '1d'
    conda    = '/home/alumno07/miniconda3/envs/rnaseq_env'
    cleanup  = true   // borra work/ de cada proceso al terminar con éxito

    withName: 'HISAT2_ALIGN' {
        cpus   = 16
        memory = '64 GB'
        time   = '1d'
    }
    withName: 'FEATURECOUNTS' {
        cpus   = 8
        memory = '16 GB'
    }
}

conda.enabled = true
dag.overwrite = true
